{{template "headerTpl" dict "Title" "GoLang" "SubTitle" "login"}}
  {{template "completeTpl" .}}
  <div id="result"></div>

    <div class="form-group">
      <div>
      <label for="email">name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="name">
      </div><br>
      <div>
      <label for="password">password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="password">
      </div>
    </div>
    <input type="submit" class="btn btn-primary" id="button" value="送信">

  <script type="text/javascript">
    let button = document.getElementById("button");
    button.addEventListener("click", login, false);

    function login() {
      let name = document.getElementById("name").value;
      let password = document.getElementById("password").value;
      let result = document.getElementById("result");
      let xhr = new XMLHttpRequest();

      xhr.open("POST", "/loginasynchronous", true);
      xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded;charset=UTF-8');
      xhr.send("name="+encodeURIComponent(name) + "&password="+encodeURIComponent(password));

      xhr.onreadystatechange = function() {
        switch (xhr.readyState) {
          case 4: 
            if(xhr.status == 200) {
              let data = JSON.parse(xhr.responseText);
              if(data["result"] === "success") {
                let message = document.createElement("div");
                message.className = "alert alert-success";
                message.innerHTML = "login success";
                result.appendChild(message);
              } else {
                let message = document.createElement("div");
                message.className = "alert alert-danger";
                message.innerHTML = data["error"];
                result.appendChild(message);
              }
            } else {
              console.log("Failed status = " + xhr.status);
            }
            break;
          }
      };
    }
  </script>
{{template "footerTpl" .}}
