{{template "headerTpl" dict "Title" "Goサンプル" "SubTitle" "MSettingConnectionMessage"}}
<section>
<script type="text/javascript" charset="utf-8">
function funcBack() {
	$("#MSettingConnectionMessageFormForBack").submit();
}
</script>
<h3>検索ページ</h3>
<h5 class="bg-secondary text-white p-2">登録変更</h5>
<div class="container">
  {{template "formTpl" dict "Action" "/autosample/MSettingConnectionMessage/register" "Id" "MSettingConnectionMessageFormRegister" "Mode" "register" "Token" .Token}}
  {{template "completeTpl" dict "Status" .Status}}
  <input type="hidden" name="sid" value="{{.Form.Sid}}" />
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"></div>
    <div class="col-7 m-1">
      <input type="text" name="last_compared_time_flag" value="{{.Form.LastComparedTimeFlag}}" id="LastComparedTimeFlag" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "LastComparedTimeFlag" "Marking" "LastComparedTimeFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"></div>
    <div class="col-7 m-1">
      <input type="text" name="last_xd_shop_time_flag" value="{{.Form.LastXdShopTimeFlag}}" id="LastXdShopTimeFlag" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "LastXdShopTimeFlag" "Marking" "LastXdShopTimeFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"></div>
    <div class="col-7 m-1">
      <input type="text" name="last_xd_cart_time_flag" value="{{.Form.LastXdCartTimeFlag}}" id="LastXdCartTimeFlag" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "LastXdCartTimeFlag" "Marking" "LastXdCartTimeFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"></div>
    <div class="col-7 m-1">
      <input type="text" name="last_convertion_time_flag" value="{{.Form.LastConvertionTimeFlag}}" id="LastConvertionTimeFlag" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "LastConvertionTimeFlag" "Marking" "LastConvertionTimeFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">測定可能か否かのメッセージ</div>
    <div class="col-7 m-1">
      <input type="text" name="status_message" value="{{.Form.StatusMessage}}" id="StatusMessage" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "StatusMessage" "Marking" "StatusMessage"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">補足メッセージ</div>
    <div class="col-7 m-1">
      <input type="text" name="detail_message" value="{{.Form.DetailMessage}}" id="DetailMessage" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "DetailMessage" "Marking" "DetailMessage"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">備考メッセージ</div>
    <div class="col-7 m-1">
      <input type="text" name="remark_message" value="{{.Form.RemarkMessage}}" id="RemarkMessage" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "RemarkMessage" "Marking" "RemarkMessage"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">削除フラグ（true:削除済み）</div>
    <div class="col-7 m-1">
      <input type="text" name="delete_flag" value="{{.Form.DeleteFlag}}" id="DeleteFlag" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "DeleteFlag" "Marking" "DeleteFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">登録者ID</div>
    <div class="col-7 m-1">
      <input type="text" name="create_user_id" value="{{.Form.CreateUserId}}" id="CreateUserId" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "CreateUserId" "Marking" "CreateUserId"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">最終更新者ID</div>
    <div class="col-7 m-1">
      <input type="text" name="update_user_id" value="{{.Form.UpdateUserId}}" id="UpdateUserId" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "UpdateUserId" "Marking" "UpdateUserId"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">登録日</div>
    <div class="col-7 m-1">
      <input type="text" name="create_time" value="{{.Form.CreateTime}}" id="CreateTime" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "CreateTime" "Marking" "CreateTime"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">最終更新日</div>
    <div class="col-7 m-1">
      <input type="text" name="update_time" value="{{.Form.UpdateTime}}" id="UpdateTime" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "UpdateTime" "Marking" "UpdateTime"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="button" class="btn btn-outline-secondary col-4 center-block" id="backButton" onclick="funcBack();">戻る</button>
      <button type="submit" class="btn btn-outline-success col-4 center-block" id="registerButton">登録</button>
    </div>
  </div>
  </form>
</div>

</section>

{{template "formTpl" dict "Action" "/autosample/MSettingConnectionMessage" "Id" "MSettingConnectionMessageFormForBack" "Mode" "back" "Token" .Token}}
</form>

{{template "footerTpl" .}}

