{{template "headerTpl" dict "Title" "Goサンプル" "SubTitle" "MIshiguro"}}
<section>
{{template "datatablesTpl" dict "Id" "list" "Length" "7" "Order" "1" "AscDesc" "desc"}}
<script type="text/javascript" charset="utf-8">
function funcGoRegister(Sid) {
	$("#SidForRegister").val(Sid);
	$("#MIshiguroRegisterForm").submit();
}
</script>
<h3>検索ページ</h3>
<h5 class="bg-secondary text-white p-2">検索条件</h5>
<div class="container">
  {{template "formTpl" dict "Action" "/autosample/MIshiguro" "Id" "MIshiguroForm" "Mode" "search" "Token" .Token}}
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">お名前</div>
    <div class="col-7 m-1">
      <input type="text" name="name" value="{{.Form.Name}}" id="Name" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "Name" "Marking" "Name"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">コード</div>
    <div class="col-7 m-1">
      <input type="text" name="code" value="{{.Form.Code}}" id="Code" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "Code" "Marking" "Code"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">削除フラグ（true:削除済み）</div>
    <div class="col-7 m-1">
      <input type="text" name="delete_flag" value="{{.Form.DeleteFlag}}" id="DeleteFlag" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "DeleteFlag" "Marking" "DeleteFlag"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">登録者ID</div>
    <div class="col-7 m-1">
      <input type="text" name="create_user_id" value="{{.Form.CreateUserId}}" id="CreateUserId" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "CreateUserId" "Marking" "CreateUserId"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">最終更新者ID</div>
    <div class="col-7 m-1">
      <input type="text" name="update_user_id" value="{{.Form.UpdateUserId}}" id="UpdateUserId" class="form-control"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "UpdateUserId" "Marking" "UpdateUserId"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">登録日時</div>
    <div class="col-7 m-1">
      <input type="text" name="create_time" value="{{.Form.CreateTime}}" id="CreateTime" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "CreateTime" "Marking" "CreateTime"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1">最終更新日時</div>
    <div class="col-7 m-1">
      <input type="text" name="update_time" value="{{.Form.UpdateTime}}" id="UpdateTime" class="form-control datetime"/>
      {{template "errorsTpl" dict "Errors" .Errors "Target" "UpdateTime" "Marking" "UpdateTime"}}
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button type="submit" class="btn btn-outline-primary col-7 center-block" id="searchButton">検索</button>
      <button type="button" class="btn btn-outline-success col-3 center-block" id="registerButton" onclick="funcGoRegister('');">新規作成</button>
    </div>
  </div>
  </form>
</div>
<hr/>
<table class="table" id="list">
  <thead class="thead-light">
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">お名前</th>
      <th scope="col">コード</th>
      <th scope="col">削除フラグ（true:削除済み）</th>
      <th scope="col">登録者ID</th>
      <th scope="col">最終更新者ID</th>
      <th scope="col">登録日時</th>
      <th scope="col">最終更新日時</th>
    </tr>
  </thead>
  <tbody>
    {{range .List}}
    <tr>
      <td><a href="javascript: onclick=funcGoRegister('{{.Sid}}');">{{.Sid}}</a></td>
      <td>{{.Name}}</td>
      <td>{{.Code}}</td>
      <td>{{.DeleteFlag}}</td>
      <td>{{.CreateUserId}}</td>
      <td>{{.UpdateUserId}}</td>
      <td>{{.CreateTime}}</td>
      <td>{{.UpdateTime}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
<hr/>


</section>

{{template "formTpl" dict "Action" "/autosample/MIshiguro/register" "Id" "MIshiguroRegisterForm" "Mode" "show" "Token" .Token}}
<input type="hidden" name="sid" id="SidForRegister"/>
</form>

{{template "footerTpl" .}}

