{{template "headerTpl" dict "Title" "Goサンプル" "SubTitle" "TInquriy"}}
<section>
<h3>機能一覧</h3>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/HMailLog">h_mail_log</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MBlock">m_block</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MIshiguro">m_ishiguro</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MSetting">m_setting</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MSettingConnectionMessage">m_setting_connection_message</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MShop">m_shop</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/MUser">m_user</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/RFirstConversion">r_first_conversion</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TBeaconAccess">t_beacon_access</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TCompareAccess">t_compare_access</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TInquiry">t_inquiry</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TMemo">t_memo</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TSettingConnection">t_setting_connection</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TTest">t_test</a></div>
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <div class="col-form-label col-4 border border-dark m-1 pb-1"><a href="/autosample/TTest2">t_test2</a></div>
  </div>
</div>

</section>

{{template "footerTpl" .}}
